<footer class="footer footer-light-theme">
      <div class="footer-top ">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                  <div class="inner-column tab-mb-25">
                  {{ page.footer_left }}
                  </div>
               </div>
              
               <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="inner-column tab-mb-25">
                     {{ page.footer_centre }}
                  </div>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="inner-column tab-mb-25">
                    {{ page.footer_right }}
                 
                  </div>
               </div>
            </div>
         </div>
      </div>
       <div class="footer-bottom text-center">
         <div class="container">
            <div class="row footer-border">
				      {{ page.footer_bottom_two }}
            </div>
         </div>
      </div>
   </footer>